<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script src="controller.js"></script>
    <title>Calculator by AngularJS</title>
</head>
<body>
        <div ng-app="CalculatorAppAngular" ng-controller="calculatorController">
                <p><input type="number" ng-model="a"></p>
                <p><input type="number" ng-model="b"></p>
                <p><select ng-model="operator">
                      <option>+</option>
                      <option>*</option>
                      <option>-</option>
                      <option>/</option>
                   </select></p>
                <p>{{ summa() }}</p>
               </div>
</body>
</html>